inout.png
frame.png
output.png
pid
ssl-cert/
node_modules/
dist/
db/*
server/frames/
.cache/
.parcel-cache
.DS_Store
.env
*.log
_*
*.mp3
*.mp4
*.json
!src/constants.json
.eslintcache
*.zip
.idea/
lib/
tmp/